:root {
    --navyblue: #2E2F42;
    --iris: #4D5AE5;
    --white:  #FFF;
    --cloud: #F4F4FD;
    --slate: #434455;
    --ocean: #404BBF;
    --cornflower: #e7e9fc;
  }
  
  .body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em; 
    color: var(--slate);
    background-color: #FFF;
  }

  .nav-list, .address-link, .logo-type, .footer-logo
 {

  text-decoration: none;
}

.nav, .address, .about-list, .our-team-list, .our-portfolio-list
{
  list-style: none;
}


  .logo-type
  {
    color: var(--navy-blue); 
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.16; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase; 
  }

  .logo-web
  {
 
color: var(--iris);
font-family: Raleway, sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.16; /* 116.667% */
letter-spacing: 0.03em;
text-transform: uppercase; 
  }


button
{
  cursor: pointer;
}
.hero
{
    font-weight: 700;
    background-color: #2E2F42;
    color: #FFFFFF;
}

.hero-text
{
color: var(--white);
text-align: center;
/* Header 1 */
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 1.07; /* 107.143% */
letter-spacing: 0.02em; 
}

.page-footer
{
  background: var(--navyblue); 
}

.footer-logo
{
  color: var(--cloud);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.16; /* 116.667% */
  letter-spacing: 0.03em;
  text-transform: uppercase;  
}


.footer-text
{
  color: var(--cloud); 
}

.nav-list
{
    color: #2E2F42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}


.address-link
{
    color: #434455;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */ 
}

.button {
  color: var(--white);
  /* Button Text */
  background: var(--iris); 
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.04em; 
}

.button:hover,
.button:focus
{
    /* background-color: #404BBF; */
    background: var(--ocean); 
}


 .nav .nav-list:hover,
 /* .nav .nav-list:active, */
 .nav .nav-list:focus
  {
    color: var(--ocean);
  }


  
.address .address-link:hover,
/* .address .address-link:active, */
.address .address-link:focus
{
  color: var(--ocean);
  }

